# Project: Can we predict when, where, and which car is going to receive a parking ticket?

## Table of Contents:
* [Introduction](#1)
* [Wrangling](#2)
* [Exploratory Visuals](#3)
* [Explanatory Visuals](#4)
* [Conclusion](#5)

## Introduction:<a class="anchor" id="1"></a>
to be added

In [80]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from patsy import dmatrices
import statsmodels.api as sm;
from datetime import datetime, timedelta
from statsmodels.stats.outliers_influence import variance_inflation_factor

%matplotlib inline

In [81]:
# Large dataset, we want to see all columns
pd.set_option('display.max_columns', None)

In [82]:
# read in .csv
df_og = pd.read_csv('parking-violations-issued-fiscal-year-2018.csv', low_memory = False)

## Wrangling:

### Data Issues
* violation code is type int -> cast as string

In [83]:
df_og.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Time First Observed,Violation County,Violation In Front Of Or Opposite,House Number,Street Name,Intersecting Street,Date First Observed,Law Section,Sub Division,Violation Legal Code,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1105232165,GLS6001,NY,PAS,2018-07-03T00:00:00.000,14,SDN,HONDA,X,47130,13230,80030,20180702.0,78.0,78,968,86684,0968,0000,0811P,NaN,K,F,2,HANSON PLACE,NaN,0,408,D1,NaN,BBYBBBB,ALL,ALL,BLUE,0.0,2006,-,0,NaN,NaN,NaN,NaN,NaN
1,1121274900,HXM7361,NY,PAS,2018-06-28T00:00:00.000,46,SDN,NISSA,X,28990,14890,15040,20200203.0,112.0,112,968,103419,0968,0000,1145A,NaN,Q,F,71-30,AUSTIN ST,NaN,0,408,C,NaN,BBBBBBB,ALL,ALL,GRY,0.0,2017,-,0,NaN,NaN,NaN,NaN,NaN
2,1130964875,GTR7949,NY,PAS,2018-06-08T00:00:00.000,24,SUBN,JEEP,X,64,18510,99,20180930.0,122.0,122,835,0,0835,0000,0355P,NaN,R,NaN,NaN,GREAT KILLS BOAT LAU,NaN,0,408,D5,NaN,BBBBBBB,ALL,ALL,GREEN,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
3,1130964887,HH1842,NC,PAS,2018-06-07T00:00:00.000,24,P-U,FORD,X,11310,39800,39735,0.0,122.0,122,835,0,0835,0000,0123P,NaN,R,NaN,NaN,GREAT KILLS PARK BOA,NaN,0,408,D5,NaN,BBBBBBB,ALL,ALL,WHITE,0.0,0,-,0,NaN,NaN,NaN,NaN,NaN
4,1131599342,HDG7076,NY,PAS,2018-06-29T00:00:00.000,17,SUBN,HYUND,X,47130,13230,80030,20190124.0,78.0,78,868,2354,0868,0000,0514P,NaN,K,F,2,HANSON PLACE,NaN,0,408,C4,NaN,BBBBBBB,ALL,ALL,GREEN,0.0,2007,-,0,NaN,NaN,NaN,NaN,NaN

In [84]:
# let's create a copy we will work with
df = df_og.copy()

In [85]:
# Selecting the columns we want to work with
df = df[['Registration State', 'Issue Date', 'Violation Time', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make', 'Vehicle Color', 'Vehicle Year']]

In [86]:
# change column names to lower case and eliminate empty space
df.columns = ['registration_state', 'issue_date', 'violation_time', 'violation_code', 'vehicle_body_type', 'vehicle_make', 'vehicle_color', 'vehicle_year']

In [87]:
# drop duplicate rows and rows with missing value
df.drop_duplicates(inplace = True)
df.dropna(inplace = True)

In [88]:
# Convert Issue Date to datetime object
df.issue_date = pd.to_datetime(df.issue_date)

In [89]:
# Get rid of incorrect violation time data
mask = (df.violation_time.str.len() == 5) & (df.violation_time.str.count('\.') == 0) & (df.violation_time.str.count(' ') == 0)

df = df.loc[mask]

In [90]:
# Add flag column for additional filtering later on
df['flag'] = False
df = df.reset_index(drop=True)

In [91]:
for i in df.index:
    # grab violation time at row i
    v_time = df.get_value(i, 'violation_time')
    
    # tokenize hour, minute, and PM/AM characters into different variables, cast to int as necessary
    h = int(v_time[0:2])
    m = int(v_time[2:4])
    p = v_time[4:5]
    
    # flag rows with erroneous violation time values (ex. 6831P) 
    if h >= 24:
        df.set_value(i, 'flag', True)   
    if m >= 60:
        df.set_value(i, 'flag', True)
    
    # if violation time is PM, add 12 to hour value
    if p == 'P':
        h += 12
    
    # add time data to issue date data using timedelta
    df.set_value(i, 'issue_date', df.issue_date[i] + timedelta(hours = h, minutes = m))

A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  app.launch_new_instance()
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [92]:
# remove flagged rows
df = df.query('flag == False')

In [93]:
# drop violation time as it's no longer needed
df.drop('violation_time', axis = 1, inplace = True)

In [94]:
df.head()

,registration_state,issue_date,violation_code,vehicle_body_type,vehicle_make,vehicle_color,vehicle_year,flag
0,NY,2018-07-03 20:11:00,14,SDN,HONDA,BLUE,2006,False
1,NY,2018-06-28 11:45:00,46,SDN,NISSA,GRY,2017,False
2,NY,2018-06-08 15:55:00,24,SUBN,JEEP,GREEN,0,False
3,NC,2018-06-07 13:23:00,24,P-U,FORD,WHITE,0,False
4,NY,2018-06-29 17:14:00,17,SUBN,HYUND,GREEN,2007,False

In [95]:
# create a dictionary for all registration states of North America (US, Canada, Mexico)
states = {'AL', 'AK', 'AZ', 'AR', 'AA', 'AE', 'AP', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA',
         'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND',
         'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'AB', 'BC', 'MB',
         'NB', 'NF', 'NT', 'NS', 'NU', 'ON', 'PE', 'QC', 'SK', 'YT', 'AG', 'BJ', 'BS', 'CP', 'CH', 'CI', 'CU', 'CL', 'DF',
         'DG', 'GJ', 'GR', 'HG', 'JA', 'EM', 'MH', 'MR', 'NA', 'NL', 'OA', 'PU', 'QA', 'QR', 'SL', 'SI', 'SO', 'TA', 'TM',
         'TL', 'VZ', 'YC', 'ZT'}

In [96]:
# if registration state code is not found in states dictionary, flag it as True
df.flag = ~df.registration_state.isin(states)

In [97]:
# cast violation code as string object, we will not be performing numeric calculation with these nominal values
df.violation_code = df.violation_code.astype('str')

In [98]:
# remove all parking violations that had less than mean amount (142) of all parking violation locations
#s = df.street_name.value_counts()
#df = df[df.isin(s.index[s >= 142]).values]

There is a huge amount of mess here with **vehicle body types**. Same type of vehicles are represented with different abbreviations, and some don't even appear under official NY vehicle registration sheet (https://data.ny.gov/api/assets/83055271-29A6-4ED4-9374-E159F30DB5AE). I will be combining the same vehicle types under official abbreviations. For the purposes of this analysis we will only be concerned with commercially distinguishable vehicle body types.

In [99]:
# create dictionaries of vehicle body types we want to use
body = {'SUBN', '4DSD', 'VAN', 'PICK', '2DSD', 'REFG', 'TRAC', 'UTIL', 'TAXI', 'CONV', 'BUS', 
        'TRLR', 'MCY', 'TRK', 'DUMP', 'TR/C'}

In [100]:
# iterating through dataframe and grab its body type
for i in df.index:
    body_type = df.get_value(i, 'vehicle_body_type')
    
    # Fixing 4 door sedan
    if (body_type == '4 DR') | (body_type == '4D'):
        df.set_value(i, 'vehicle_body_type', '4DSD')
    
    # Fixing PickUp Trucks
    elif (body_type == 'P-U') | (body_type == 'PKUP'):
        df.set_value(i, 'vehicle_body_type', 'PICK')
    
    # Fixing Utility Vehicles
    elif body_type == 'UT':
        df.set_value(i, 'vehicle_body_type', 'UTIL')
        
    # Combining Trailer and Semi-Trailer
    elif body_type == 'SEMI':
        df.set_value(i, 'vehicle_body_type', 'TRLR')
    
    # Combining Flat base trucks, Trucks, and Tow trucks
    elif (body_type == 'FLAT') | (body_type == 'TOW'):
        df.set_value(i, 'vehicle_body_type', 'TRK')

A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  app.launch_new_instance()
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:19: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [101]:
# Flag all rows with body types we are not concerned with
df.flag = ~df.vehicle_body_type.isin(body)

In [102]:
# remove flagged rows
df = df.query('flag == False')

There is also a huge amount of mess with **vehicle make**. Same type of vehicles are represented with different abbv, and may do not appear under NY's official vehicle make database (https://data.ny.gov/Transportation/Vehicle-Makes-and-Body-Types-Most-Popular-in-New-Y/3pxy-wy2i). For the purposes of the analysis, commercially distinguishable vehicle makes will be combined under 1 abbreviation.

In [103]:
# create a dictionary of all car manufacturers we want to use
make = {'FORD', 'TOYOT', 'HONDA', 'NISSA', 'CHEVR', 'MERZ', 'DODGE', 'FRUEH', 'JEEP', 'BMW', 'HYUND',
       'LEXUS', 'GMC', 'ACURA', 'INFIN', 'SUBAR', 'VOLKS', 'CHRYS', 'AUDI', 'KIA', 'MAZDA', 'HIN', 'ISUZU',
       'ROVER', 'CADIL', 'VOLVO', 'MITSU', 'LINCO', 'BUICK', 'MERCU', 'PORSC', 'MINI', 'SMART', 'SATUR',
       'JAGUA', 'PONTI', 'FIAT', 'SUZUK', 'TESLA', 'MASE', 'SAAB', 'SCION', 'YAMAH', 'KAWAS', 'DUCAT',
       'FERRA', 'ROLLS', 'LAMBO', 'LEXUS'}

In [104]:
# iterating through dataframe and grab its make
for i in df.index:
    make_manu = df.get_value(i, 'vehicle_make')
    
    # Fixing Mercedes Benz
    if (make_manu == 'ME/BE') | (make_manu == 'M-B'):
        df.set_value(i, 'vehicle_make', 'MERZ')
    
    # Fixing Hyundai
    elif (make_manu == 'HYUN') | (make_manu == 'HYUNN') | (make_manu == 'HYUAN'):
        df.set_value(i, 'vehicle_make', 'HYUND')
    
    # Fixing GMC
    elif (make_manu == 'DAEWO') | (make_manu == ' GMC'):
        df.set_value(i, 'vehicle_make', 'GMC')
    
    # Fixing Volkswagen
    elif (make_manu == 'VOLK') | (make_manu == 'VOKLS'):
        df.set_value(i, 'vehicle_make', 'VOLKS')
        
    # Fixing Kia
    elif (make_manu == 'KIA.') | (make_manu == ' KIA'):
        df.set_value(i, 'vehicle_make', 'KIA')
        
    # Fixing Lexus
    elif (make_manu == 'LEX') | (make_manu == 'LEXU') | (make_manu == 'LEXSU') | (make_manu == ' LEXU'):
        df.set_value(i, 'vehicle_make', 'LEXUS')
        
    # Fixing Mitsubishi
    elif (make_manu == 'MIYSU') | (make_manu == 'HITSU') | (make_manu == 'MITBI'):
        df.set_value(i, 'vehicle_make', 'MITSU')
        
    # Fixing Ford
    elif (make_manu == 'FORDB') | (make_manu == 'FORDF'):
        df.set_value(i, 'vehicle_make', 'FORD')
        
    # Fixing Subaru
    elif make_manu == 'SUBA':
        df.set_value(i, 'vehicle_make', 'SUBAR')
        
    # Fixing Saturn
    elif (make_manu == 'SATUN') | (make_manu == 'SETUR'):
        df.set_value(i, 'vehicle_make', 'SATUR')
        
    # Fixing Chrysler
    elif (make_manu == 'CHHRY') | (make_manu == 'CHCRY'):
        df.set_value(i, 'vehicle_make', 'CHRYS')   
        
    # Fixing Mazda
    elif make_manu == 'MADA':
        df.set_value(i, 'vehicle_make', 'MAZDA')
        
    # Fixing Acura
    elif (make_manu == 'ACYRA') | (make_manu == 'ACUR') | (make_manu == 'ACUCA'):
        df.set_value(i, 'vehicle_make', 'ACURA')
        
    # Fixing Cadillac
    elif (make_manu == 'CADDL'):
        df.set_value(i, 'vehicle_make', 'CADIL')
        
    # Fixing Porsche
    elif (make_manu == 'PORS') | (make_manu == 'PORSD'):
        df.set_value(i, 'vehicle_make', 'PORSC')    
    
    # Fixing Toyota
    elif make_manu == 'TOTOY':
        df.set_value(i, 'vehicle_make', 'TOYOT')

A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  app.launch_new_instance()
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:27: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:39: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:19: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:31: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:43: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:55: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:35: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:59: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:63: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:47: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:51: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:67: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [105]:
# Flag all rows with manufacturers we are not concerned with
df.flag = ~df.vehicle_make.isin(make)

In [106]:
# remove flagged rows
df = df.query('flag == False')

Some mess here in the **vehicle year** data. Around 1.3 car's manufacture year could not be identified. This dataset collects all parking enforcement in NY in 2018 and 2019 car models do go on sale in 2018. Therefore, we will be getting rid of all rows with manufacture date recorded as 2020 and up.

using `value_counts(sort = False)` returns all registered vehicle years in ascending order. We see that 0 is the lowest value followed by 1970. We will be concerned with records of vehicles year made between 1970 and 2019.

In [107]:
df = df[(df.vehicle_year >= 1970) & (df.vehicle_year <= 2019)]

There is a lot of mess with **vehicle color** as well and most if not all mess is caused by typos. We will be replacing the colors with proper color names.

In [108]:
color_dic = {'GRAY', 'WHITE', 'BLACK', 'RED', 'YELLOW', 'SILVER', 'BLUE', 'GOLD', 'ORANGE', 'BROWN', 'BEIGE', 'GREEN', 'PURPLE', 'PINK'}

In [109]:
for i in df.index:
    color = df.get_value(i, 'vehicle_color')
    
    # Fixing GRAY
    if color in ('DKGY', 'GYGY', 'GR', 'GY', 'GRY', 'GREY', 'GRAY', 'GY/', 'GY.', 'GRY.', 'GREY.', 'GRAY.', 'ASH'):
        df.set_value(i, 'vehicle_color', 'GRAY')
    
    # Fixing WHITE
    elif color in ('W', 'WH', 'WT', 'WHI', 'WH/', 'WHIT', 'WTE', 'WH.', 'WHTE', 'WHT.', 'CREAM', 'WHTIE', 'DKWH', 
                   'WHIE', 'WHI-T', 'White'):
        df.set_value(i, 'vehicle_color', 'WHITE')
    
    # Fixing BLACK
    elif color in ('BLK', 'BK', 'BK/', 'BLK.', 'DKBK', 'BLAVK', 'BLAK', 'Black', 'BCK', 'BLACJ'):
        df.set_value(i, 'vehicle_color', 'BLACK')
    
    # Fixing RED
    elif color in ('RD', 'DKRD', 'RD/', 'RD.', 'RED.', 'R', 'WINE', 'BED', 'DK RD'):
        df.set_value(i, 'vehicle_color', 'RED')
        
    # Fixing YELLOW
    elif color in ('YW', 'YELLO', 'YEL', 'YELLW', 'YELL', 'YL', 'Y', 'YLW', 'YE', 'YELOW', 'YLLW', 'YWL', 'YW.'):
        df.set_value(i, 'vehicle_color', 'YELLOW')
        
    # Fixing SILVER
    elif color in ('SILVE', 'SIL', 'SILV', 'SLVR', 'SLV', 'SI', 'SLR', 'SLVE', 'SIL.', 'SLVER', 'SIVR', 'SLV.',
                   'SILV.', 'SLIVE', 'SLIVR', 'SLVR.', 'SLIV', 'SIVER', 'SILEV'):
        df.set_value(i, 'vehicle_color', 'SILVER')
    
    # Fixing BLUE
    elif color in ('BLU', 'BL/', 'BLUE.', 'BIU', 'BLU.', 'BRU', 'BLUED', 'BKLUE'):
        df.set_value(i, 'vehicle_color', 'BLUE')
        
    # Fixing GOLD
    elif color in ('GLD', 'GD', 'GOL'):
        df.set_value(i, 'vehicle_color', 'GOLD')
    
    # Fixing ORANGE
    elif color in ('ORANG', 'ORAN', 'OJ', 'COPPE', 'ORNAG', 'OG.', 'ORNG', 'ORANF'):
        df.set_value(i, 'vehicle_color', 'ORANGE')
    
    # Fixing BROWN
    elif color in ('BRN', 'BRW', 'MAROO', 'MAR', 'BRWN', 'MRN', 'MARON', 'BRWON', 'BR.', 'BRONW', 'BRNW'):
        df.set_value(i, 'vehicle_color', 'BROWN')
    
    # Fixing BEIGE
    elif color in ('BEIGE', 'BIEGE', 'BEGE', 'BAIGE', 'BEI'):
        df.set_value(i, 'vehicle_color', 'BEIGE')
    
    # Fixing GREEN
    elif color in ('GRN', 'GN.', 'Green', 'OLIVE', 'LT GN'):
        df.set_value(i, 'vehicle_color', 'GREEN')
        
    # Fixing PURPLE
    elif color in ('PURPL', 'PURP', 'PUR', 'VIOLE', 'PRPL'):
        df.set_value(i, 'vehicle_color', 'PURPLE')
        
    # Fixing PINK
    elif color in ('PK', 'ROSE'):
        df.set_value(i, 'vehicle_color', 'PINK')

A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:28: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:19: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:56: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:32: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:52: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:44: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:40: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:36: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:48: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
A:\Anaconda3\lib\site-packages\ipykernel\__main__.py:60: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [110]:
# Flag all rows with colors we are not concerned with
df.flag = ~df.vehicle_color.isin(color_dic)

In [111]:
# Remove all flagged rows
df = df.query('flag == False')

In [112]:
df.head()

,registration_state,issue_date,violation_code,vehicle_body_type,vehicle_make,vehicle_color,vehicle_year,flag
4,NY,2018-06-29 17:14:00,17,SUBN,HYUND,GREEN,2007,False
5,NY,2018-07-02 08:27:00,17,SUBN,NISSA,BLACK,2013,False
8,NY,2019-07-02 09:19:00,21,SUBN,HONDA,GRAY,2005,False
11,NY,2018-07-02 09:02:00,21,SUBN,FORD,BLACK,2012,False
12,NY,2018-07-06 08:25:00,17,SUBN,TOYOT,GRAY,2013,False

In [113]:
df.to_csv('temp.csv', index = False)